<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.waker">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AlarmEditorActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.waker.MainActivity" />
        </activity>

        <activity android:name=".AdvancedSettingsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.waker.AlarmEditorActivity" />
        </activity>

        <activity android:name=".AlarmActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"

            />

        <activity android:name=".RingtoneActivity" />

        <activity android:name=".ChooseRingtoneActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".GestureTest">

        </activity>


        <provider
            android:authorities="com.waker"
            android:name="com.waker.data.AlarmProvider"
            android:exported="false" />

        <receiver android:name=".AlarmBroadcastReceiver"
            android:process=":remote"
            android:exported="false">
            <intent-filter>
                <action android:name="com.waker"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>