<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.waker">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AlarmEditorActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.waker.MainActivity" />
        </activity>

        <activity android:name=".AdvancedSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.waker.AlarmEditorActivity" />
        </activity>

        <activity android:name=".AlarmActivity" />
        <activity android:name=".RingtoneActivity" />


        <provider
            android:authorities="com.waker"
            android:name="com.waker.data.AlarmProvider"
            android:exported="false" />

        <receiver android:name=".AlarmBroadcastReceiver"/>

    </application>

</manifest>